@charset "utf-8";

body{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/back.gif");
}

.cha{
    margin-bottom: 200px;
    margin-left: 300px;
    position: absolute;
}

.talk{
    margin-left: 150px;
    position: absolute;
}

.tta{
    width: 80px;
    height: 180px;
    margin-left: 700px;
    margin-top: 300px;
    position: absolute;
}